@model Assign1PROG30000.Models.EquipmentRequest
@using Assign1PROG30000.Models
@using Assign1PROG30000.Models.Enum
@using System.Linq

@{
    ViewData["Title"] = "Equipment Request Form";
}

<h1>Request IT Equipment</h1>

<form asp-action="RequestForm" method="post" class="needs-validation">
    <div class="form-group mb-3">
        <label asp-for="Request.Name"></label>
        <input asp-for="Request.Name" class="form-control" />
        <span asp-validation-for="Request.Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Request.Email"></label>
        <input asp-for="Request.Email" class="form-control" />
        <span asp-validation-for="Request.Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Request.Phone"></label>
        <input asp-for="Request.Phone" class="form-control" />
        <span asp-validation-for="Request.Phone" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Request.Role"></label>
        <select asp-for="Request.Role" class="form-control">
            <option value="">Select a role</option>
            <option value="Student">Student</option>
            <option value="Professor">Professor</option>
        </select>
        <span asp-validation-for="Request.Role" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Request.EquipmentId"></label>
        <select asp-for="Request.EquipmentId" class="form-control">
            <option value="">Select equipment</option>
            @if (Model.Equipments != null)
            {
                foreach (var equipment in Model.Equipments!)
                {
                    <option value="@(equipment?.Id)">@($"{equipment?.Id} {equipment?.Description ?? ""}")</option>
                }
            }
            </select>
        <span asp-validation-for="Request.EquipmentId" class="text-danger"></span>
    </div>


    <div class="form-group mb-3">
        <label asp-for="Request.RequestDetails"></label>
        <textarea asp-for="Request.RequestDetails" class="form-control"></textarea>
        <span asp-validation-for="Request.RequestDetails" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Request.DurationDays"></label>
        <input asp-for="Request.DurationDays" class="form-control" type="number" />
        <span asp-validation-for="Request.DurationDays" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Submit Request</button>
</form>